<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мир игр</title>
</head>
<body>
    <h1>GAMES</h1>
    <h2>Вы не ошиблись, выбирая нас!</h2>
    <p>Увлекательный мир приключений и море эмоций</p>
    <ul>
        <li>{{g1}}</li><a href="/platform/cart"><button>Добавить в корзину</button></a>
        <li>{{g2}}</li><a href="/platform/cart"><button>Добавить в корзину</button></a>
        <li>{{g3}}</li><a href="/platform/cart"><button>Добавить в корзину</button></a>
    </ul>
    <a href="/platform"><button>Вернуться на главную</button></a>
</body>
</html>