<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мир игр</title>
</head>
<body>
    <h1>Главная</h1>
    <a href="#"> <button>Добро пожаловать</button></a>
    <h2>Магазин</h2>
    <a href="/platform/games"><button>К покупкам</button></a>
    <a href="/platform/cart"> <button>В корзину</button></a>
    <a href="/platform"><button>Вернуться на главную</button></a>
    <h3>Корзина</h3>
    <a href="#"> <button>Оформить заказ</button></a>
    <a href="/platform"><button>Вернуться на главную</button></a>
</body>
</html>